<figure>
    <img
        *ngIf="anime.attributes.posterImage"
        src="{{ anime.attributes.posterImage.small }}"
        alt="Anime Poster Image"
    />
    <p
        class="text-warning text-center missing-image-warning mt-5 mb-5"
        *ngIf="!anime.attributes.posterImage"
    >
        No image for this title from API
    </p>
    <figcaption class="anime-image-caption">
        <p class="ml-3 mt-2">
            <strong class="text-success">Title</strong><br />
            {{ anime.attributes.canonicalTitle }}
        </p>
        <p *ngIf="anime.attributes.averageRating" class="ml-3 mt-2">
            <strong class="text-success">Average Rating</strong><br />
            {{ anime.attributes.averageRating }} / 100
        </p>
        <p class="ml-3 mt-2">
            <strong class="text-success">First Episode Airdate</strong><br />
            {{ anime.attributes.startDate }}
        </p>
    </figcaption>
</figure>
