<div class="options mt-3">
    <h5 class="display-inline">Sort&nbsp;</h5>

    <select class="display-inline form-control-sm" (change)="onSortOptionChange($event)">
        <option
            *ngFor="let sortOption of sortOptions"
            value="{{ sortOption.value }}"
        >
            {{ sortOption.display }}
        </option>
    </select>
</div>

<hr />

<div *ngIf="animes" class="mb-3">
    <ng-container [ngTemplateOutlet]="paginationButtons"> </ng-container>

    <div class="animes-container">
        <app-anime
            class="anime-card"
            *ngFor="let anime of animes"
            [anime]="anime"
        >
        </app-anime>
    </div>

    <ng-container [ngTemplateOutlet]="paginationButtons"> </ng-container>
</div>

<div *ngIf="!animes" class="loading-container">
    <p>Loading</p>
</div>

<ng-template #paginationButtons>
    <button
        class="btn btn-secondary btn-sm previous-button"
        [disabled]="!(pageNumber > 1)"
        (click)="onPreviousPageButtonClick()"
    >
        Previous
    </button>

    Page {{ pageNumber }}

    <button
        class="btn btn-secondary btn-sm next-button"
        (click)="onNextPageButtonClick()"
    >
        Next
    </button>
</ng-template>
