.animes-container {
    display: flex;
    flex-wrap: wrap;
}

.anime-card {
    border: solid 1px #808080;
    margin: 10px;
}

.options,
.previous-button,
.loading-container {
    margin-left: 45px;
}

.display-inline {
    display: inline;
}
